/* Light medium contrast theme */
.light-medium-contrast {
	--primary: #113f15;
	--on-primary: #ffffff;
	--primary-container: #4a7847;
	--on-primary-container: #ffffff;
	--secondary: #2b3a29;
	--on-secondary: #ffffff;
	--secondary-container: #61725d;
	--on-secondary-container: #ffffff;
	--tertiary: #073c41;
	--on-tertiary: #ffffff;
	--tertiary-container: #487479;
	--on-tertiary-container: #ffffff;
	--error: #740006;
	--on-error: #ffffff;
	--error-container: #cf2c27;
	--on-error-container: #ffffff;
	--surface: #f7fbf1;
	--on-surface: #0e120d;
	--surface-variant: #dee5d8;
	--on-surface-variant: #323830;
	--outline: #4e544b;
	--outline-variant: #686f65;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #2d322c;
	--inverse-on-surface: #eff2e9;
	--inverse-primary: #a1d39a;
	--primary-fixed: #4a7847;
	--on-primary-fixed: #ffffff;
	--primary-fixed-dim: #325f31;
	--on-primary-fixed-variant: #ffffff;
	--secondary-fixed: #61725d;
	--on-secondary-fixed: #ffffff;
	--secondary-fixed-dim: #495946;
	--on-secondary-fixed-variant: #ffffff;
	--tertiary-fixed: #487479;
	--on-tertiary-fixed: #ffffff;
	--tertiary-fixed-dim: #2e5b60;
	--on-tertiary-fixed-variant: #ffffff;
	--surface-dim: #c4c8bf;
	--surface-bright: #f7fbf1;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #f1f5ec;
	--surface-container: #e6e9e0;
	--surface-container-high: #daded5;
	--surface-container-highest: #cfd3ca;
}

/* Dark medium contrast theme */
.dark-medium-contrast {
	--primary: #b6eaae;
	--on-primary: #002d06;
	--primary-container: #6c9c68;
	--on-primary-container: #000000;
	--secondary: #cfe2c9;
	--on-secondary: #1b2919;
	--secondary-container: #84967f;
	--on-secondary-container: #000000;
	--tertiary: #b6e5ea;
	--on-tertiary: #002b2e;
	--tertiary-container: #6b989e;
	--on-tertiary-container: #000000;
	--error: #ffd2cc;
	--on-error: #540003;
	--error-container: #ff5449;
	--on-error-container: #000000;
	--surface: #10140f;
	--on-surface: #ffffff;
	--surface-variant: #424940;
	--on-surface-variant: #d8ded2;
	--outline: #adb4a9;
	--outline-variant: #8c9288;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #e0e4db;
	--inverse-on-surface: #272b25;
	--inverse-primary: #255125;
	--primary-fixed: #bcf0b4;
	--on-primary-fixed: #001602;
	--primary-fixed-dim: #a1d39a;
	--on-primary-fixed-variant: #113f15;
	--secondary-fixed: #d5e8cf;
	--on-secondary-fixed: #061406;
	--secondary-fixed-dim: #baccb3;
	--on-secondary-fixed-variant: #2b3a29;
	--tertiary-fixed: #bcebf0;
	--on-tertiary-fixed: #001416;
	--tertiary-fixed-dim: #a0cfd4;
	--on-tertiary-fixed-variant: #073c41;
	--surface-dim: #10140f;
	--surface-bright: #41463f;
	--surface-container-lowest: #050805;
	--surface-container-low: #1b1f19;
	--surface-container: #252923;
	--surface-container-high: #2f342e;
	--surface-container-highest: #3b3f39;
}

/* Light high contrast theme */
.light-high-contrast {
	--primary: #04340b;
	--on-primary: #ffffff;
	--primary-container: #265326;
	--on-primary-container: #ffffff;
	--secondary: #21301f;
	--on-secondary: #ffffff;
	--secondary-container: #3d4d3b;
	--on-secondary-container: #ffffff;
	--tertiary: #003236;
	--on-tertiary: #ffffff;
	--tertiary-container: #215055;
	--on-tertiary-container: #ffffff;
	--error: #600004;
	--on-error: #ffffff;
	--error-container: #98000a;
	--on-error-container: #ffffff;
	--surface: #f7fbf1;
	--on-surface: #000000;
	--surface-variant: #dee5d8;
	--on-surface-variant: #000000;
	--outline: #282e26;
	--outline-variant: #444b42;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #2d322c;
	--inverse-on-surface: #ffffff;
	--inverse-primary: #a1d39a;
	--primary-fixed: #265326;
	--on-primary-fixed: #ffffff;
	--primary-fixed-dim: #0d3b11;
	--on-primary-fixed-variant: #ffffff;
	--secondary-fixed: #3d4d3b;
	--on-secondary-fixed: #ffffff;
	--secondary-fixed-dim: #273625;
	--on-secondary-fixed-variant: #ffffff;
	--tertiary-fixed: #215055;
	--on-tertiary-fixed: #ffffff;
	--tertiary-fixed-dim: #02393e;
	--on-tertiary-fixed-variant: #ffffff;
	--surface-dim: #b6bab1;
	--surface-bright: #f7fbf1;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #eff2e9;
	--surface-container: #e0e4db;
	--surface-container-high: #d2d6cd;
	--surface-container-highest: #c4c8bf;
}

/* Dark high contrast theme */
.dark-high-contrast {
	--primary: #c9fec1;
	--on-primary: #000000;
	--primary-container: #9dcf96;
	--on-primary-container: #000f01;
	--secondary: #e3f5dc;
	--on-secondary: #000000;
	--secondary-container: #b6c8b0;
	--on-secondary-container: #030e03;
	--tertiary: #c9f8fe;
	--on-tertiary: #000000;
	--tertiary-container: #9dcbd0;
	--on-tertiary-container: #000e10;
	--error: #ffece9;
	--on-error: #000000;
	--error-container: #ffaea4;
	--on-error-container: #220001;
	--surface: #10140f;
	--on-surface: #ffffff;
	--surface-variant: #424940;
	--on-surface-variant: #ffffff;
	--outline: #ecf2e6;
	--outline-variant: #bec5b9;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #e0e4db;
	--inverse-on-surface: #000000;
	--inverse-primary: #255125;
	--primary-fixed: #bcf0b4;
	--on-primary-fixed: #000000;
	--primary-fixed-dim: #a1d39a;
	--on-primary-fixed-variant: #001602;
	--secondary-fixed: #d5e8cf;
	--on-secondary-fixed: #000000;
	--secondary-fixed-dim: #baccb3;
	--on-secondary-fixed-variant: #061406;
	--tertiary-fixed: #bcebf0;
	--on-tertiary-fixed: #000000;
	--tertiary-fixed-dim: #a0cfd4;
	--on-tertiary-fixed-variant: #001416;
	--surface-dim: #10140f;
	--surface-bright: #4d514b;
	--surface-container-lowest: #000000;
	--surface-container-low: #1d211b;
	--surface-container: #2d322c;
	--surface-container-high: #383d36;
	--surface-container-highest: #444841;
}
